@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #fafafa;
  /* Zinc-50 */
  --card-bg: #09090b;
  /* Zinc-950 */
  --border: #27272a;
  /* Zinc-800 */
  --zinc-text: #a1a1aa;
  /* Zinc-400 */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card-bg);
  --color-zinc-border: var(--border);
  --color-zinc-text: var(--zinc-text);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: #fafafa;
  color: #000000;
}